//scrollable favorite categories div
.favorites-categories-row{
    display: flex;
    overflow: scroll;
    padding: 0px 12px;
    div{
        div{
            margin: 5px;
            text-align: center;
            align-items: center;
            display: grid;
            height: 90px;
            min-width: 92px;
            div{
                font-size: 10px;
                border-radius: 50%;
                min-width: 40px;
                height: 40px;
                margin: 0 auto;
                display: grid;
                align-items: center;
                margin-top: 3px;
                margin-bottom: 8px;
                color: #fff;
                font-family: "titamium bold";
                }
            h3{
                font-size: 12px;
                margin-top: 3px;
                overflow: hidden;
                font-family: "titamium semi";
                height: 2.5em;
            }
            img{
                width: 12px;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                display: none;
            }
        }
        .delete-btn{
            text-align: center;
            font-size: 14px;
            font-family: 'titamium semi';
            margin: 10px 0px;
            color: #c11919;
        }
    }
}
.money-transfer-text, .pay-bills-text, .topups-text{
    font-size: 18px;
    margin: 15px 20px;
    font-family: 'titamium semi';
    display: flex;
    align-items: center;
    img{
        width: 16px;
        margin-right: 8px;
    }
}
.no-favorites{
    font-size: 17px;
    text-align: center;
    width: 100%;
    color: #8a8a8a;
    font-family: 'titamium Regular';
}