.whats-new-text{
    text-align: center;
    font-size: 18px;
    font-family: 'titamium semi';
    margin: 20px 0px;
}
.separator{
    border-top: 1.5px solid #9a9898;
} 
.bg-primary{
    padding: 20px;
    margin: 20px;
    background-color: #edf2f6 !important;
    h3{
        font-size: 16px;
        font-family: 'titamium Regular';
    }
}