ion-header{
    background: #edf2f6 !important;
    ion-toolbar{
        --background: #edf2f6 !important;
    }
    ion-button{
        text-transform: capitalize;
        font-size: 16px;
        font-family: 'titamium semi';
        color: rgb(16 16 16);
        svg{
            height: 20px;
            width: 20px;
            min-width: 20px;
            fill: rgb(16 16 16);
        }
    }
}
.app-logo-div{
    margin: 0px 0px 35px 20px;
    img{
        width: 33%;
    }
}
.header-md::after, .header-ios::after, .footer-md::before, .footer-ios::before{
    background-image: none;
}
ion-content{
    --padding-start: 15px;
    --padding-top: 0px;
    --padding-end: 15px;
}
.login-txt{
    font-size: 17px;
    font-family: 'titamium semi';
    color: rgb(27, 42, 68);
    margin: 0px 15px 10px 6px;
    display: flex;
    align-items: center;
    svg{
        width: 16px;
        height: 16px;
        fill: #1b2a44;
        margin-right: 11px;
    }
}
.login-txt-2{
    font-size: 12px;
    font-family: 'titamium regular';
    color: rgb(16 16 16);
    margin: 10px 15px 1em 6px;
}
ion-row{
    ion-col{
        display: flex;
        align-items: center;        
        ion-input{
            // border-radius: 5px;
            height: 50px;
            font-size: 15px;
            font-family: "titamium regular";
            color: rgb(27, 42, 68);
            --padding-start: 25px;
            --padding-end: 18px;
            border-bottom: 1px solid #aeaeae;
        }
        ion-button{
            width: 100%;
            --box-shadow: none;
            --background: linear-gradient(to right, rgb(16 16 16), rgb(79 79 79));
            font-size: 15px;
            font-family: 'titamium regular';
            text-transform: capitalize;
            border-radius: 30px;
            --border-radius: 30px;
            height: 45px;
            margin-top: 10px;
        }
    }
}
.svg-icons-common-class{
    svg{
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 9;
        left: 5px;
        fill: rgb(147 147 147);
    }
}
.login-more-options-div{
    margin: 0px 9px;
    h3, h4{
        text-align: center;
        font-size: 13px;
        font-family: "titamium semi";
        color: rgb(16 16 16);
        margin-top: 3px;
    }
    h4{
        color: #9c2e2e;
    }
}